---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6/users
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMf-7dTA8hixHSAR@G4PjgAAD4Q
      X-Rate-Limit-Limit:
      - '20'
      X-Rate-Limit-Remaining:
      - '19'
      X-Rate-Limit-Reset:
      - '1623719977'
      Link:
      - <https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6/users?limit=50>;
        rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"00uxf5kx9MpPC2jpb5d6","externalId":null,"created":"2021-06-10T15:04:48.000Z","lastUpdated":"2021-06-10T15:04:48.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2021-06-10T15:04:48.000Z","passwordChanged":null,"syncState":"DISABLED","credentials":null,"profile":{},"_links":{"app":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6"},"user":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6"}}}]'
  recorded_at: Tue, 15 Jun 2021 01:18:37 GMT
recorded_with: VCR 6.0.0
