---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMf-Q7XUpLuW@uhdXbaCdwAAAbk
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623719807'
    body:
      encoding: UTF-8
      string: '{"id":"0oaxf5krmAOlBwXdS5d6","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2021-06-10T15:04:43.000Z","created":"2021-06-10T15:04:42.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"2Lp5xffQR_mNnbuO0Tv-PyFm4-7ANIkIwZjpaHZcfIw"}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"admin","href":"https://dev-47339917.okta.com/home/saasure/0oaxf5krmAOlBwXdS5d6/2","type":"text/html"}],"groups":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"users":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6/users"},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oaxf5krmAOlBwXdS5d6/lifecycle/deactivate"}}}'
  recorded_at: Tue, 15 Jun 2021 01:15:46 GMT
recorded_with: VCR 6.0.0
