---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/apps/0oa10ggguzH2JBB0I5d7
    body:
      encoding: UTF-8
      string: '{"name":"template_basic_auth","label":"A New Application: Electric
        Boogaloo","signOnMode":"BASIC_AUTH","settings":{"app":{"url":"https://example.com/login.html","authURL":"https://example.com/auth.html"}}}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMgCgqwkFaPvAxewC29TIgAACT4
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623720638'
    body:
      encoding: UTF-8
      string: '{"id":"0oa10ggguzH2JBB0I5d7","name":"template_basic_auth","label":"A
        New Application: Electric Boogaloo","status":"ACTIVE","lastUpdated":"2021-06-15T01:29:38.000Z","created":"2021-06-15T01:25:50.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BASIC_AUTH","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"authURL":"https://example.com/auth.html","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"appLinks":[{"name":"login","href":"https://dev-47339917.okta.com/home/template_basic_auth/0oa10ggguzH2JBB0I5d7/2873","type":"text/html"}],"groups":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oa10ggguzH2JBB0I5d7/groups"},"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"users":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oa10ggguzH2JBB0I5d7/users"},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/apps/0oa10ggguzH2JBB0I5d7/lifecycle/deactivate"}}}'
  recorded_at: Tue, 15 Jun 2021 01:29:38 GMT
recorded_with: VCR 6.0.0
