---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/authorizationServers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMp02Geg6F8KSwoqNt8CBgAADBI
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623880980'
      Link:
      - <https://dev-47339917.okta.com/api/v1/authorizationServers?after=ausxf5ktkSSCqMgqt5d6&limit=200>;
        rel="next"
      - <https://dev-47339917.okta.com/api/v1/authorizationServers?limit=200>; rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"ausxf5ktkSSCqMgqt5d6","name":"default","description":"Default
        Authorization Server for your Applications","audiences":["api://default"],"issuer":"https://dev-47339917.okta.com/oauth2/default","issuerMode":"ORG_URL","status":"ACTIVE","created":"2021-06-10T15:04:44.000Z","lastUpdated":"2021-06-10T15:04:44.000Z","credentials":{"signing":{"kid":"t7-0whVcmD9GysjptFdah5-OVMMBck1xMIS5_YemfHk","rotationMode":"AUTO","lastRotated":"2021-06-10T15:04:44.000Z","nextRotation":"2021-09-08T15:04:44.000Z"}},"_links":{"rotateKey":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://dev-47339917.okta.com/oauth2/default/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://dev-47339917.okta.com/oauth2/default/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}}]'
  recorded_at: Wed, 16 Jun 2021 22:02:00 GMT
recorded_with: VCR 6.0.0
