---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7
    body:
      encoding: UTF-8
      string: '{"boop":"bap"}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMp7KjXdg1XCZo5ijhMV0gAACQM
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623882598'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: audiences","errorLink":"E0000001","errorId":"oaeAIFn9SFbQlyxi7qwMkJNBw","errorCauses":[{"errorSummary":"audiences:
        ''''audiences'''' must be an array with exactly one value."},{"errorSummary":"issuerMode:
        ''''issuerMode'''' is required."},{"errorSummary":"name: The field cannot
        be left blank"}]}'
  recorded_at: Wed, 16 Jun 2021 22:28:58 GMT
recorded_with: VCR 6.0.0
