---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7
    body:
      encoding: UTF-8
      string: '{"name":"New Updated Authorization Server Part Dos","description":"Authorization
        Server New Description: Fancy!","audiences":["https://api.resource.com"],"issuerMode":"ORG_URL"}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMp5TgyVMbY@myPs1hy1ZAAAAfU
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623882122'
    body:
      encoding: UTF-8
      string: '{"id":"aus110xphkcEtyhLv5d7","name":"New Updated Authorization Server
        Part Dos","description":"Authorization Server New Description: Fancy!","audiences":["https://api.resource.com"],"issuer":"https://dev-47339917.okta.com/oauth2/aus110xphkcEtyhLv5d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2021-06-16T22:07:16.000Z","lastUpdated":"2021-06-16T22:21:02.000Z","credentials":{"signing":{"kid":"wBLw4tNJFNPeOGpnMPLWXAi2GslLez0hcls6G4XHSfY","rotationMode":"AUTO","lastRotated":"2021-06-16T22:07:16.000Z","nextRotation":"2021-09-14T22:07:16.000Z"}},"_links":{"rotateKey":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://dev-47339917.okta.com/oauth2/aus110xphkcEtyhLv5d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://dev-47339917.okta.com/oauth2/aus110xphkcEtyhLv5d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/authorizationServers/aus110xphkcEtyhLv5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
  recorded_at: Wed, 16 Jun 2021 22:21:02 GMT
recorded_with: VCR 6.0.0
