---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YNDyy-ygIm5donc9NiZlbQAADBU
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1624306439'
      Link:
      - <https://dev-47339917.okta.com/api/v1/groups?limit=10000>; rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"00gxf5kry6skrJf095d6","created":"2021-06-10T15:04:42.000Z","lastUpdated":"2021-06-10T15:04:42.000Z","lastMembershipUpdated":"2021-06-16T14:37:26.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All
        users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://dev-47339917.okta.com/api/v1/groups/00gxf5kry6skrJf095d6/users"},"apps":{"href":"https://dev-47339917.okta.com/api/v1/groups/00gxf5kry6skrJf095d6/apps"}}},{"id":"00g10pnp6v3Brgwlx5d7","created":"2021-06-15T19:22:34.000Z","lastUpdated":"2021-06-15T19:22:34.000Z","lastMembershipUpdated":"2021-06-15T21:14:52.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Working
        Group","description":"a working group for testing simpleokta"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://dev-47339917.okta.com/api/v1/groups/00g10pnp6v3Brgwlx5d7/users"},"apps":{"href":"https://dev-47339917.okta.com/api/v1/groups/00g10pnp6v3Brgwlx5d7/apps"}}}]'
  recorded_at: Mon, 21 Jun 2021 20:12:57 GMT
recorded_with: VCR 6.0.0
