---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/groups/00g10pnp6v3Brgwlx5d7
    body:
      encoding: UTF-8
      string: '{"profile":{"name":"New Working Group","description":"Keep Calm and
        Single Sign On"}}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YND-v-ygIm5donc9NiaVzAAADH8
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '98'
      X-Rate-Limit-Reset:
      - '1624309695'
    body:
      encoding: UTF-8
      string: '{"id":"00g10pnp6v3Brgwlx5d7","created":"2021-06-15T19:22:34.000Z","lastUpdated":"2021-06-21T21:08:15.000Z","lastMembershipUpdated":"2021-06-15T21:14:52.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"New
        Working Group","description":"Keep Calm and Single Sign On"},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png","type":"image/png"}],"users":{"href":"https://dev-47339917.okta.com/api/v1/groups/00g10pnp6v3Brgwlx5d7/users"},"apps":{"href":"https://dev-47339917.okta.com/api/v1/groups/00g10pnp6v3Brgwlx5d7/apps"}}}'
  recorded_at: Mon, 21 Jun 2021 21:08:13 GMT
recorded_with: VCR 6.0.0
