---
http_interactions:
- request:
    method: post
    uri: https://dev-47339917.okta.com/api/v1/users?activate=false
    body:
      encoding: UTF-8
      string: '{"profile":{"firstName":"Isaac","lastName":"Brock","email":"isaac.brock@example.com","login":"isaac.brock@example.com","mobilePhone":"555-415-1337"}}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMjyf80Sfe8HA8MaZfaLawAACRk
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623782075'
    body:
      encoding: UTF-8
      string: '{"id":"00u10onqttoutdqBf5d7","status":"STAGED","created":"2021-06-15T18:33:35.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2021-06-15T18:33:35.000Z","passwordChanged":null,"type":{"id":"otyxf5ks7cG0MW7nU5d6"},"profile":{"firstName":"Isaac","lastName":"Brock","mobilePhone":"555-415-1337","secondEmail":null,"login":"isaac.brock@example.com","email":"isaac.brock@example.com"},"credentials":{"emails":[{"value":"isaac.brock@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://dev-47339917.okta.com/api/v1/meta/schemas/user/oscxf5ks7cG0MW7nU5d6"},"activate":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10onqttoutdqBf5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10onqttoutdqBf5d7"},"type":{"href":"https://dev-47339917.okta.com/api/v1/meta/types/user/otyxf5ks7cG0MW7nU5d6"}}}'
  recorded_at: Tue, 15 Jun 2021 18:33:35 GMT
recorded_with: VCR 6.0.0
