---
http_interactions:
- request:
    method: delete
    uri: https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 204
      message: No Content
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMkaP8-R6HfDLORhGz4GGwAAAZU
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623792251'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Jun 2021 21:23:11 GMT
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMkaPx8YhugVGOjWN2-jMQAADho
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623792251'
    body:
      encoding: UTF-8
      string: '{"id":"00u10ribsoVWUttmX5d7","status":"DEPROVISIONED","created":"2021-06-15T21:19:25.000Z","activated":"2021-06-15T21:22:15.000Z","statusChanged":"2021-06-15T21:23:11.000Z","lastLogin":null,"lastUpdated":"2021-06-15T21:23:11.000Z","passwordChanged":"2021-06-15T21:19:39.000Z","type":{"id":"otyxf5ks7cG0MW7nU5d6"},"profile":{"firstName":"Isaac","lastName":"Brock","mobilePhone":"555-415-1337","secondEmail":null,"login":"isaac.brock@example.com","email":"isaac.brock@example.com"},"credentials":{"emails":[{"value":"isaac.brock@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://dev-47339917.okta.com/api/v1/meta/schemas/user/oscxf5ks7cG0MW7nU5d6"},"activate":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7/lifecycle/activate","method":"POST"},"self":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7"},"type":{"href":"https://dev-47339917.okta.com/api/v1/meta/types/user/otyxf5ks7cG0MW7nU5d6"},"delete":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7","method":"DELETE"}}}'
  recorded_at: Tue, 15 Jun 2021 21:23:11 GMT
recorded_with: VCR 6.0.0
