---
http_interactions:
- request:
    method: post
    uri: https://dev-47339917.okta.com/api/v1/users?activate=true
    body:
      encoding: UTF-8
      string: '{"boop":"bap"}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMj7kfAY3GJiHYvEKy2aTAAACY8
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '98'
      X-Rate-Limit-Reset:
      - '1623784397'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000003","errorSummary":"The request body was not well-formed.","errorLink":"E0000003","errorId":"oaeIiXM8riNRnme39xYjmh6nw","errorCauses":[]}'
  recorded_at: Tue, 15 Jun 2021 19:12:17 GMT
recorded_with: VCR 6.0.0
