---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7
    body:
      encoding: UTF-8
      string: '{"profile":{"mobilePhone":"555-415-1337"}}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMkd8YQLXqWH1aoleAgc-wAAAB4
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623793197'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000001","errorSummary":"Api validation failed: login","errorLink":"E0000001","errorId":"oaebt49xX5PQMOutW7phYIIaQ","errorCauses":[{"errorSummary":"login:
        The field cannot be left blank"},{"errorSummary":"firstName: The field cannot
        be left blank"},{"errorSummary":"lastName: The field cannot be left blank"},{"errorSummary":"email:
        The field cannot be left blank"},{"errorSummary":"login: Username must be
        in the form of an email address"}]}'
  recorded_at: Tue, 15 Jun 2021 21:38:57 GMT
recorded_with: VCR 6.0.0
