---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/users/asdfasdfsadfsadf
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMjXqM6KIIe8xoEfSs1NuQAAB94
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623775204'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        asdfasdfsadfsadf (User)","errorLink":"E0000007","errorId":"oaeP_RMEOutSZ-Fo5s3Rn7hPw","errorCauses":[]}'
  recorded_at: Tue, 15 Jun 2021 16:39:03 GMT
recorded_with: VCR 6.0.0
