---
http_interactions:
- request:
    method: post
    uri: https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/lifecycle/reactivate?sendEmail=false
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMlNxONIqWiinyp15eEP-gAABW4
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623805440'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000038","errorSummary":"This operation is not allowed
        in the user''s current status.","errorLink":"E0000038","errorId":"oaedx7t1_ZHRvScik_Sczp3Uw","errorCauses":[]}'
  recorded_at: Wed, 16 Jun 2021 01:02:59 GMT
recorded_with: VCR 6.0.0
