---
http_interactions:
- request:
    method: post
    uri: https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/lifecycle/unsuspend
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMoN54Gc4UQYUB9dfihSLgAABUQ
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623854627'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 16 Jun 2021 14:42:47 GMT
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMoN6D1LLUeqtfsqa1XdigAABd8
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '95'
      X-Rate-Limit-Reset:
      - '1623854570'
    body:
      encoding: UTF-8
      string: '{"id":"00u10x5qqh0j0yTHK5d7","status":"PASSWORD_EXPIRED","created":"2021-06-16T14:37:26.000Z","activated":"2021-06-16T14:37:27.000Z","statusChanged":"2021-06-16T14:42:47.000Z","lastLogin":null,"lastUpdated":"2021-06-16T14:42:47.000Z","passwordChanged":"2021-06-16T14:37:27.000Z","type":{"id":"otyxf5ks7cG0MW7nU5d6"},"profile":{"firstName":"test","lastName":"account","mobilePhone":null,"secondEmail":null,"login":"test.account@fake.com","email":"test.account@fake.com"},"credentials":{"password":{},"emails":[{"value":"test.account@fake.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://dev-47339917.okta.com/api/v1/meta/schemas/user/oscxf5ks7cG0MW7nU5d6"},"resetPassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7"},"type":{"href":"https://dev-47339917.okta.com/api/v1/meta/types/user/otyxf5ks7cG0MW7nU5d6"},"changePassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10x5qqh0j0yTHK5d7/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Wed, 16 Jun 2021 14:42:48 GMT
recorded_with: VCR 6.0.0
