---
http_interactions:
- request:
    method: put
    uri: https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7
    body:
      encoding: UTF-8
      string: '{"profile":{"firstName":"Isaac2","lastName":"Brock2","email":"isaac.brock2@example.com","login":"isaac.brock@example.com","mobilePhone":"555-415-1337"}}'
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMkdQ1hl9EVYIU0eOvjIlwAAA10
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623793023'
    body:
      encoding: UTF-8
      string: '{"id":"00u10ribsoVWUttmX5d7","status":"PROVISIONED","created":"2021-06-15T21:19:25.000Z","activated":"2021-06-15T21:32:20.000Z","statusChanged":"2021-06-15T21:32:20.000Z","lastLogin":null,"lastUpdated":"2021-06-15T21:36:03.000Z","passwordChanged":"2021-06-15T21:19:39.000Z","type":{"id":"otyxf5ks7cG0MW7nU5d6"},"profile":{"firstName":"Isaac2","lastName":"Brock2","mobilePhone":"555-415-1337","secondEmail":null,"login":"isaac.brock2@example.com","email":"isaac.brock2@example.com"},"credentials":{"emails":[{"value":"isaac.brock2@example.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://dev-47339917.okta.com/api/v1/meta/schemas/user/oscxf5ks7cG0MW7nU5d6"},"resetPassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7"},"type":{"href":"https://dev-47339917.okta.com/api/v1/meta/types/user/otyxf5ks7cG0MW7nU5d6"},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/users/00u10ribsoVWUttmX5d7/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Tue, 15 Jun 2021 21:36:03 GMT
recorded_with: VCR 6.0.0
