---
http_interactions:
- request:
    method: get
    uri: https://dev-47339917.okta.com/api/v1/users/bradenrshipley@gmail.com
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      X-Okta-Request-Id:
      - YMjYUupk8Zw49BclFbYuhwAAC98
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '1623775374'
      Content-Disposition:
      - inline;filename=f.txt
    body:
      encoding: UTF-8
      string: '{"id":"00uxf5kx9MpPC2jpb5d6","status":"ACTIVE","created":"2021-06-10T15:04:48.000Z","activated":null,"statusChanged":"2021-06-10T17:18:50.000Z","lastLogin":"2021-06-14T22:08:35.000Z","lastUpdated":"2021-06-10T17:18:50.000Z","passwordChanged":"2021-06-10T17:18:50.000Z","type":{"id":"otyxf5ks7cG0MW7nU5d6"},"profile":{"firstName":"Braden","lastName":"Shipley","mobilePhone":null,"secondEmail":null,"login":"bradenrshipley@gmail.com","email":"bradenrshipley@gmail.com"},"credentials":{"password":{},"emails":[{"value":"bradenrshipley@gmail.com","status":"VERIFIED","type":"PRIMARY"}],"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/lifecycle/suspend","method":"POST"},"schema":{"href":"https://dev-47339917.okta.com/api/v1/meta/schemas/user/oscxf5ks7cG0MW7nU5d6"},"resetPassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6"},"type":{"href":"https://dev-47339917.okta.com/api/v1/meta/types/user/otyxf5ks7cG0MW7nU5d6"},"changePassword":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/credentials/change_password","method":"POST"},"deactivate":{"href":"https://dev-47339917.okta.com/api/v1/users/00uxf5kx9MpPC2jpb5d6/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Tue, 15 Jun 2021 16:41:54 GMT
recorded_with: VCR 6.0.0
